.container{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    background-color: lightcoral;
    
}
.image{
    width: 250px;
    height: 250px;
    border-radius: 150px;
}
.info{
    padding-left: 250px;

}
.intro{
    padding-left: 100px;
}
.info h1{
    color: black;
}
.info p {
color: white;
}